<!DOCTYPE html>
<html lang="ru">
	<head>
		<title></title>
		<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
	</head>
	<body>
		<header class="page-header">
			<div class="page-header__inner">
				<div class="page-header__top">
					<a align='center' class="page-header__logo" href="index.html">русский егэ</a>
				</div>
			</div>
		</header>
		<div class='h'>Задание 4. Постановка ударений</div>
		<div class='test'>
			<div class='question'><p align="center">{{word}}</p></div>
			<div class='explanation'>{{clar}}</div>
			<div class='spacer'></div>
			<div class='next'>
				<button onclick="document.location='{{a}}'">далее</button>
			</div>
		</div>
	</body>
</html>
